/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        td_brackets: td_brackets {
            compatible = "zmk,behavior-tap-dance";
            label = "[]";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        td_prnts: td_prnts {
            compatible = "zmk,behavior-tap-dance";
            label = "()";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };
    };

    macros {
        scrshot: scrnsht {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_COMMAND>,
                <&macro_press>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp NUMBER_2>,
                <&macro_release>,
                <&kp LSHIFT>,
                <&macro_release>,
                <&kp LEFT_COMMAND>;

            label = "SCRNSHT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&gresc        &kp N1       &kp N2               &kp N3        &kp N4               &kp N5                                   &kp N6       &kp N7                &kp N8         &kp N9                &kp N0               &none
&kp TAB       &kp Q        &kp W                &kp E         &kp R                &kp T                                    &kp Y        &kp U                 &kp I          &kp O                 &kp P                &kp DOLLAR
&kp CAPSLOCK  &hrm LALT A  &hrm LEFT_CONTROL S  &hrm LSHFT D  &hrm LEFT_COMMAND F  &kp G                                    &kp H        &hrm RIGHT_COMMAND J  &hrm RSHIFT K  &hrm RIGHT_CONTROL L  &hrm RALT SEMICOLON  &kp SQT
&scrshot      &kp Z        &kp X                &kp C         &kp V                &kp B        &td_brackets     &td_prnts  &kp N        &kp M                 &kp COMMA      &kp DOT               &kp FSLH             &kp MINUS
                                                &none         &none                &lt 1 SPACE  &kp BACKSPACE    &kp RET    &lt 2 SPACE  &none                 &none
            >;
        };

        right_half_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans          &trans          &trans        &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans          &trans          &trans        &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans          &trans          &trans        &trans           &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans          &trans          &trans
            >;
        };

        left_half_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
